/notez
.vscode/settings.json
functions/pglite-debug.log
make-tune3-react/src/components/MAKE-TUNE3.code-workspace
pglite-debug.log
firebase-debug.log
firestore-debug.log
.firebase/hosting.bWFrZS10dW5lMy1yZWFjdC9kaXN0.cache
.firebase/hosting.bWFrZS10dW5lMy1yZWFjdC9kaXN0.cache
.DS_Store
docs/react-app-design-patterns.md
/docs/docz
/recommendation-system/venv
/recommendation-system/data
recommendation-system/recommender.env
/hate-text-detector/hate-speech-detection-pipeline-design
/hate-text-detector/service/.deps
/hate-text-detector
/recommendation-system/pipeline_v1/__pycache__
/recommendation-system/remote_v1/__pycache__
/waveform-lab
/hate-speech-hsd-service
.DS_Store
