/notez
.vscode/settings.json
functions/pglite-debug.log
make-tune3-react/src/components/MAKE-TUNE3.code-workspace
pglite-debug.log
firebase-debug.log
firestore-debug.log
.firebase/hosting.bWFrZS10dW5lMy1yZWFjdC9kaXN0.cache
.firebase/hosting.bWFrZS10dW5lMy1yZWFjdC9kaXN0.cache
