:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary colors */
  --primary: #1b3031;
  --primary1-400: #59a8a7;
  --primary1-500: #3f8d8d;
  --primary1-600: #307071;
  --primary1-700: #2a595b;
  --primary1-800: #25494a;
  --primary1-900: #1b3031;
  
  /* Secondary colors */
  --secondary: #2d5052;
  
  /* Contrast colors */
  --contrast-600: #d55f21;
  --contrast-700: #b1481d;
  
  /* Background colors */
  --background: #3f7072;
  --offblue: #488083;
  
  /* Utility colors */
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --slate-700: #334155;
  --red-700: #b91c1c;
  --yellow-900: #713f12;
  
  /* Common colors */
  --white: #EEEEEE;
  --bone: #F2EBE3;
  --accent: #691313;
  --warning: #8F3739;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size:0.85em;
  font-weight: 200;
  font-family: inherit;
  background-color: #1a3937;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
